.chat-panel {
  position: relative;
  height: 400px;
  
  .panel-body {
    height: 100%;
    clear: both;
    padding-bottom: 54px;
    
    .list-group {
      // height: 320px;
      height: 100%;
      overflow: scroll;
      clear: both;
      border: 0px;
      
      .list-group-item {
        border: 0px;
        white-space: pre-wrap;
      }
    }
  }
  
  .panel-footer {
    // background-color: white;
    position: absolute;
    bottom: 0px;
    height: 54px;
    width: 100%;
    float: bottom;
    
    div {
      position: relative;
      width: 100%;
    }
    textarea {
      resize: none;
      overflow-y: scroll;
      min-height: 34px;
      max-height: 200px;
      position: absolute;
      width: inherit;
      bottom: -34px;
    }
  }
}
